<div class="container" >
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script src="angular.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js"></script>
    <script src="../templates/angular.min.js" type="text/javascript"></script>
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <meta http-equiv="Content-Type"
    content="text/html; charset=utf-8">

    <div class="content">
        
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
            <form method="post" action=""> 
                <h1>Login</h1> 
                
                <p> 
                    <label for="email_login">Seu e-mail</label>
                    <input id="email_login" name="email_login" required="required" type="text" placeholder="contato@dominio.com"/>
                </p>

                <p> 
                    <label for="senha_login">Sua senha</label>
                    <input id="senha_login" name="senha_login" required="required" type="password" placeholder="Senha" /> 
                    
                </p>

                <p> 
                    <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                    <label for="manterlogado">Manter-me logado</label>
                </p>

                <p> 
                    <input type="submit" value="Logar" /> 
                </p>
                
                <p class="link">
                    Ainda não tem conta?
                    <a href="#paracadastro">Cadastre-se</a>
                </p>
            </form>
        </div>

        <!--FORMULÁRIO DE CADASTRO-->
        <div id="cadastro">
            <form method="post" action=""> 
                <h1>Cadastro</h1> 
                <p> 
                    <label for="user_cad">Seu Usuário</label>
                    <input id="user_cad" name="user_cad" required="required" type="text" placeholder="Usuário" />
                </p>
                
                <p> 
                    <label for="nome_cad">Seu nome</label>
                    <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Nome" />
                </p>
                
                <p> 
                    <label for="sobrenome_cad">Seu Sobrenome</label>
                    <input id="sobrenome_cad" name="sobrenome_cad" required="required" type="text" placeholder="Sobrenome" />
                </p>

                <p> 
                    <label for="email_cad">Seu e-mail</label>
                    <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@dominio.com"/> 
                </p>
                
                <p> 
                    <!--
                    <label for="cpf_cad">Seu CPF</label>
                    <input id="cpf_cad" name="cpf_cad" required="required" type="text" placeholder="XXX.XXX.XXX-XX"/> 
                    
                    <label for="CPF">CPF</label><br>
                    <input type="radio" id="CPF" name="CPForCNPJ" value="CPF">
                    
                    <label for="CNPJ">CNPJ</label><br>
                    <input type="radio" id="CNPJ" name="CPForCNPJ" value="CNPJ">
                    -->
                    <label for="cpf_cad">Seu CPF</label>
                    <div ng-app="app" ng-controller="ctrl">
                          <input id="text" type="text" ng-model="text" ui-mask="99.999.999/9999-99" ui-mask-placeholder-char="_" />
                          <button ng-click="read()">Log</button>
                    </div>
                </p>
                    
                <p> 
                    <label for="telefone_cad">Seu Telefone</label>
                    <input id="telefone_cad" name="telefone_cad" required="required" type="number" placeholder="(XX) X XXXX-XXXX"/>
                </p>
                
                <p> 
                    <label for="senha_cad">Sua senha</label>
                    <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="Senha"/>
                </p>
                
                <p> 
                    <input type="submit" value="Cadastrar"/> 
                </p>

                <p class="link">  
                    Já tem conta?
                    <a href="#paralogin"> Ir para Login </a>
                </p>
            </form>
        </div>
    </div>
</div> 
